* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;

}
:root {
  --pink: #c71dc6;
  --darker-pink:#a51da5;
  --white-grey: #e8e8e8;
}

body {
    background-color: #f7f7f7;
}